{% extends '_layout.html' %}
{% block content %}
<div id="data">
  <table class="striped">
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Share Price</th>
      <th>Total Price</th>
      <th>Fees</th>
      <td>Profit</td>
      <td>Dividend</td>
      <td>Total Profit per Dollar</td>
      <td>Total Profit per Dollar Per Day</td>
    </tr>
     {% for row in transactions %}
      <tr>
        <td>{{ row.timestamp or '' }}</td>
        <td>{{ row.type or ''}}</td>
        <td>{{ row.symbol or '' }}</td>
        <td>{{ row.quantity or '' }}</td>
        <td>{{ row.share_price | currency_format}}</td>
        <td>{{ row.total_price | currency_format}}</td>
        <td>{{ row.fees | currency_format}}</td>
        <td>{{ row.profit | currency_format}}</td>
        <td>{{ row.dividend_profit | currency_format }}</td>
        <td>{{ row.total_profit_per_dollar | cents_whole }}</td>
        <td>{{ row.total_profit_per_dollar_per_day | cents }}</td>
      </tr>
     {% endfor %}
  </table>
</div>
{% endblock %}