{% extends '_layout.html' %}
{% block content %}
<div id="data">
  <table class="striped">
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Share Price</th>
      <th>Total Price</th>
      <th>Fees</th>
    </tr>
     {% for row in transactions %}
      <tr>
        <td>{{ row.timestamp or '' }}</td>
        <td>{{ row.type or ''}}</td>
        <td>{{ row.symbol or '' }}</td>
        <td>{{ row.quantity or '' }}</td>
        <td>{{ row.share_price }}</td>
        <td>{{ row.total_price }}</td>
        <td>{{ row.fees }}</td>
      </tr>
     {% endfor %}
  </table>
</div>
{% endblock %}