{% extends '_layout.html' %}
{% block content %}
<div style="float:right; margin:5px;">
  <a href="{{ url_for('logout') }}">Logout</a>
</div>
<div id="data">
  <table class="striped">
    <tr>
      <th>Date</th>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Share Price</th>
      <th>Total Price</th>
      <th>Fees</th>
      <th>Profit</th>
      <th>Dividend</th>
      <th>Total Profit per Dollar</th>
      <th>Total Profit per Dollar Per Year</th>
      <th>Avg Days</th>
      <th>Last Sale</th>
    </tr>
     {% for buy in transactions %}
      <tr>
        <td>{{ buy.execution.timestamp or '' }}</td>
        <td>{{ buy.execution.symbol or '' }}</td>
        <td>{{ buy.execution.quantity or '' }}</td>
        <td>{{ buy.execution.share_price | currency_format}}</td>
        <td>{{ buy.execution.total_price | currency_format}}</td>
        <td>{{ buy.sale_fees() | currency_format}}</td>
        <td>{{ buy.sale_profit() | currency_format}}</td>
        <td>{{ buy.dividend_earnings() | currency_format }}</td>
        <td>{{ buy.total_profit_per_dollar() | percent }}</td>
        <td>{{ (buy.total_profit_per_dollar_per_day() * 365.25) | percent }}</td>
        <td>{{ buy.average_days() | round | int }}</td>
        <td>{{ buy.last_sale_date() or '' }}</td>
      </tr>
     {% endfor %}
  </table>
</div>
{% endblock %}