{% extends '_layout.html' %}
{% block content %}
<form id="login" action="{{ url_for('login_post') }}" method="POST" 
      class="card lighten-4">
  <div class="card-content">
    <h3 class="card-title teal-text">Robinhood Login</h1>
    <div class="input-field stage1-m">
      <input id="email-m" type="text" class="stage1-m" name="username" required>
      <label for="email-m" class="stage1">Email or Username</label>
    </div>
    <div class="input-field not-active stage2-m">
      <input id="password" type="password" name="password" required>
      <label for="password">Password</label>
    </div>
  </div>
  <div class="card-action">
    <button class="btn waves-effect waves-light right" type="submit" name="action">
      Submit
      <i class="material-icons right">send</i>
    </button>
    <div style="clear:both"></div>
  </div>
</form>
{% endblock %}